@font-face {
  font-family: hacked;
  src: url("HACKED.ttf");
}

@font-face {
  font-family: minimalistic;
  src: url("./nvscript.ttf");
}

body {
  font-family: minimalistic;
  font-size: 22px;
  background: url('../Facebook\ Messenger.jpg');
  background-position:center;
}

.divider {
  border: none;
  border-bottom: #0D47A1 15px solid;
  border-radius: 20px;
  height: 30px;
  margin-top: -30px;
  background: transparent;
}


ul li a {
  color: #2196f3;
}

ul li a:hover {
  color: #0D47A1;
  transition: all 0.4s;
}

.btn-close {
  float: right !important;
  top: 0;
}

.btn-close::after {
  content: "";
  clear: both !important;
}

.logo-big {
  font-size: 170px;
  font-family: hacked;
  text-shadow: #0D47A1 6px 6px 0px !important;
}

.slogan-tech {
  text-shadow: #0D47A1 3px 3px 0px !important;
}

.card {
  box-shadow: 10px 10px 0px 0px #0D47A1;
  transition: all 0.4s;
  width: 100% !important;
}

.card:hover {
  box-shadow: 0px 0px 0px 0px #0D47A1;
}

.slogan {
  margin-top: -50px;
  border-radius: 20px;
  border: #0D47A1 15px solid;

  font-size: 2em;

  padding: 8px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.quotes {
  padding: 10px 15px 10px 15px;
  margin-top: 10px;
  border-bottom-right-radius: 55px;
  border-top-left-radius: 55px;
  border-top: #0D47A1 5px solid;
  border-bottom: #0D47A1 5px solid;
  height: 100%!important;
}

h1,
h2,
h3,
h4 {
  font-family: minimalistic, Arial, Helvetica, sans-serif;
}



/* NAVIGATION STYLES */
nav ul li a {
  color: #2196f3 !important;
  font-size: 16px;
  font-weight: 900;
  text-shadow: #fff 0px 0px 2px;
}

.sidenav ul li a {
  font-size: 16px;
  font-weight: 900;
  text-shadow: #fff 0px 0px 2px;
}

.brand-logo {
  font-family: hacked;
  text-shadow: #2196f3 3px 3px 0px !important;
}
.sidenav {
  max-width: 250px!important;
  opacity: 0.9;
  padding-top: 0px !important;
}

.devicons,
fa:not(.fa-bars) {
  font-size: 60px;
  transition: all 0.4s;
}

.devicons:hover,
fa {
  color: #0D47A1 !important;
}

.list-inline {
  width: 80% !important;
  margin-left: 10% !important;
  margin-right: 10% !important;
}

.list-inline-item {
  display: inline-block !important;
}

.fa-square:hover {
  color: #000 !important;
}

.contactLinks a {
  font-size: 15px!important;
}

footer {
  font-size: 22px;
}

@media (min-width: 1060px) {
  .brand-logo {
    font-size: 40px !important;
  }
}

@media (max-width: 711px) {
  .btn {
    margin-top: 5px;
  }

  .brand-logo {
    font-size: 40px !important;
  }

  .cont {
    font-size: 20px !important;
  }

}

@media (max-width: 576px) {
  h4 {
    font-size: 25px !important;
  }

  .cont {
    font-size: 20px !important;
  }

  .brand-logo {
  
    font-size: 40px !important;
  }

  h1 {
    font-size: 30px;
  }


}

footer ul li a:hover {
  color: #000 !important;
  font-weight: bold !important;
}

.responsive-img {
  width: 200px;
  margin-top: 20px;
}
